.game {
  background: repeating-linear-gradient(50deg, #4e2527f4,#7e4527f4,#6e4517f4);
}

.cell {
  border: 4px solid #36363fdb;
  height: 100px;
  width: 100px;
  color: #0d0d0d;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Rowdies', cursive;
  cursor: pointer;
}

.endgame {
  display: none;
  background-color: rgba(135, 65, 249, 0.592);
  padding: 45px 80px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 293px;
  height: 115px;
}

.btn-type:focus {
  outline: none;
}